@import url(./partials/navbar.css);
@import url(./partials/home.css);
@import url(./partials/sobre.css);
@import url(./partials/repertorio.css);
@import url(./partials/mapa.css);
@import url(./partials/footer.css);

body {
    background-color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h1 {
    text-align: center;
    color: #3897f0;
    padding: 16px;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    color: #3897f0;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .repertorio_um {
    flex-direction: column;
    align-items: center;
  }

  .repertorio_um li {
    width: 80%;
    margin-bottom: 10px;
  }

  .texto {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 100% !important;
  }
}

.instagram-wrapper {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.instagram-media {
  max-width: 658px;
  width: 100% !important;
  min-width: 326px;
}